
body {
  background-color: #ffffff;
}

.col-sm-3, .col-sm-9 {
  /*border: 1px solid green;*/
}

.sidebar div {
  border-top: 2px dashed;
  border-bottom: 2px dashed;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar .logo  {
  border: 0px;
  border-bottom: 2px dashed;
}

.sidebar .logo img {
  height: 200px;
  width: auto;
}

p {
  font-family: Monospace;
  color: #000;
  z-index: 100;
	display:block;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}

a {
  color: black;
  outline: 0;
  text-decoration-style: dotted;
}

a:hover {
    background-color: #bfe639;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  width: 300px;
  font-family: Monospace;
  cursor: pointer;
  background-color: #39bfe6;
  padding: 5px;
  padding-left: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #39bfe6;
}

/*----text stuff----*/
.sidebar {
  background-color: #ffffff;
  font-size: 14pt;
  /*margin: 3%;*/
  font-weight:normal;
  /*float:left;*/
  /*line-height: 25px;*/
  font-family: Monospace;
}


#about{
  background-color: #39bfe6;
}

/*sketch*/
#defaultCanvas0 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 20%;

}
/*----SCREENS----*/
@media screen and (max-width: 450px) {
  .sidebar div {
    float: left;
    border-style: none;
  }
  .sidebar .title {
    padding-top: 15px;
    float: right;
  }

  .sidebar .day, .sidebar .night {
    width: 50%;
  }

  .sidebar .logo  {
    border: 0px;
  }

  .sidebar .date{
    width:100%;
    border-top: 2px dashed;
    border-bottom: 2px dashed;
    margin-top: 10px;
    margin-bottom: 10px;
  }



  .logo img {
    border: 0px;
    width: 120px !important;
    height: 120px !important;
  }

  .collapsible {
    width: 100%;
    border-radius: 8px;
    text-align: center;
  }

  a {
    text-decoration: underline;
  }
}

